<% content_for :title, "Editing user" %>

<h1><%= t('users.edit.title') %></h1>

<%= render "form", user: @user %>

<div>
  <%= link_to t('helpers.link.show'), @user %> |
  <%= link_to t('helpers.link.back'), users_path %>
</div>